html {
    font-family: Consolas;
    text-align: center
}

input[type=number],
.numero {
    text-align: right
}

.error {
    color: red
}

.usuario {
    float: left;
    text-align: center;
    position: absolute;
    left: 10px;
}

fieldset {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}

div {
    text-align: center;
    vertical-align: middle;
}